pytest
pytest-cov
python-dotenv
gunicorn
mysqlclient
Flask==2.0.3
Flask-Cors==3.0.3
flask_limiter
PyJWT
Unidecode==0.04.1
python-dateutil
Babel
simplejson
requests
pymongo
sphinxcontrib-httpdomain
recommonmark
sphinx_rtd_theme
