<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="author" content="VNAppMob">
  <meta name="description" content="{{ description }}">
  <link rel="canonical" href="{{ linkrel.canonical }}">
  <link rel="amphtml" href="{{ linkrel.amphtml }}">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <meta property="og:locale" content="vi_VN" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:image" content="{{ primary_photo }}" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta property="og:site_name" content="vAPI" />

  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="{{ primary_photo }}" />
  <meta name="twitter:site" content="@vnappmob" />
  <meta name="twitter:creator" content="@vnappmob" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    body {padding-top: 4.5rem;}h1 {font-size: 2em !important;}.e-mail:before {content: attr(data-website) "\0040" attr(data-user);unicode-bidi: bidi-override;direction: rtl;}.media-img{font-size: 24px; padding: 0px 10px 0px 10px;}.card-body-list{padding: 0.5rem;}.p-list{margin-bottom: 0;}
  </style>
  {% block customhead %}{% endblock %}

</head>

<body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../">
        <img src="https://vnappmob.sgp1.cdn.digitaloceanspaces.com/vnappmob/assets/img/vapi-logo.png" width="40" height="40" alt="vBiz Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../about">Thông tin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../terms">Điều khoản dịch vụ</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  {% block content %}{% endblock %}
  <footer class="footer mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <p>© {{current_year}} vAPI - Powered by <a href="https://web.vnappmob.com" target="_blank">VNAppMob</a></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
